<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>员工岗位</title>
	<meta name="renderer" content="webkit">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">	
	<meta name="apple-mobile-web-app-status-bar-style" content="black">	
	<meta name="apple-mobile-web-app-capable" content="yes">	
	<meta name="format-detection" content="telephone=no">	
	<link rel="stylesheet" type="text/css" href="/static/common/layui/css/layui.css" media="all">
	<link rel="stylesheet" type="text/css" href="/static/common/bootstrap/css/bootstrap.css" media="all">
	<link rel="stylesheet" type="text/css" href="/static/common/global.css" media="all">
	<link rel="stylesheet" type="text/css" href="/static/css/personal.css" media="all">
</head>
<body>
    <section class="layui-larry-box">
        <div class="larry-personal">
            <div class="layui-tab">
                <blockquote class="layui-elem-quote new_search">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" value="" placeholder="请输入关键字" class="layui-input search_input">
                </div>
                <a class="layui-btn search_btn">查询</a>
            </div>
            <div class="layui-inline">
                <!-- <a class="layui-btn layui-btn-normal">添加员工</a> -->
                <button class="layui-btn layui-btn-normal" onclick="document.getElementById('id01').style.display='block'; document.getElementById('id02').style.display='none'">添加员工</button>
            </div>
            <div class="layui-inline">
                <!-- <a class="layui-btn" style="background-color: #5FB878;">批量删除</a> -->
                <button class="layui-btn" style="background-color: #5FB878;" onclick="BatchDel()">批量删除</button>
            </div>
            <div class="layui-inline">
                <!-- <a class="layui-btn audit_btn">导出Excel</a> -->
                <button class="layui-btn" onclick="export_excel()">导出Excel</button>
            </div>
            <!-- <div class="layui-inline">
                <a class="layui-btn layui-btn-danger batchDel">批量删除</a>
            </div> -->
                </blockquote>

                <!-- 添加部门模太框 -->
                <div id="id01" class="modal　larry-personal-body clearfix" style="display: none;">
                    <form class="modal-content animate" action="/users/index/company/add_user_position/" method="POST" style="width: 800px; height: 600px;left: 350px;"> 
                        {% csrf_token %}
                        <div class="imgcontainer">
                            <!-- 点击×号，隐藏模态框-->
                            <span onclick="document.getElementById('id01').style.display='none'; document.getElementById('id02').style.display='block'" class="close" title="Close Modal">&times;</span>
                        </div>
                        <header class="larry-personal-tit" style="text-align:center;">
                            <span>添加员工</span>
                        </header>
                        <!-- <div class="container">
                            <div class="layui-form-item">
                                <label class="layui-form-label">序号</label>
                                <div class="layui-input-block">
                                    <input type="text" id="number" placeholder="请输入" name="nid" class="layui-input" style="width: 300px;">
                                </div>     
                            </div> -->
                            <div class="layui-form-item">
                                <label class="layui-form-label">姓名</label>
                                <div class="layui-input-block">
                                    <input type="text" id="label" placeholder="请输入名字" name="username" class="layui-input" style="width: 300px;">
                                </div>     
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">密码</label>
                                <div class="layui-input-block">
                                    <input type="text" id="label" placeholder="请输入密码" name="password" class="layui-input" style="width: 300px;">
                                </div>     
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">岗位</label>
                                <div class="layui-input-inline" style="left:40px;">
                                    <!-- <input type="text" placeholder="请输入负责人" name="department_manager" class="layui-input" style="width: 300px;"> -->
                                    <select name="position" id="manager" style="width: 300px;height: 40px;">
                                        {% for data in positionList %}
                                            <option value="{{data.nid}}">{{data.position}}</option>
                                        {% endfor %}
                                    </select>
                                </div>     
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">部门</label>
                                <div class="layui-input-inline" style="left:40px;">
                                    <!-- <input type="text" placeholder="请输入负责人" name="department_manager" class="layui-input" style="width: 300px;"> -->
                                    <select name="department" id="manager" style="width: 300px;height: 40px;">
                                        {% for data in departmentList %}
                                            <option value="{{data.nid}}">{{data.department}}</option>
                                        {% endfor %}
                                    </select>
                                </div>     
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">入职时间</label>
                                <div class="layui-input-block">
                                    <input type="date" id="department_people" placeholder="请输入入职时间" name="enterTime" class="layui-input" style="width: 300px;">
                                </div>     
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">离职时间</label>
                                <div class="layui-input-block">
                                    <input type="date" id="create_time" placeholder="请输入离职时间" name="leaveTime" class="layui-input" style="width: 300px;">
                                </div>     
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">电话</label>
                                <div class="layui-input-block">
                                    <input type="text" id="create_time" placeholder="请输入联系方式" name="iphone" class="layui-input" style="width: 300px;">
                                </div>     
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">住址</label>
                                <div class="layui-input-block">
                                    <input type="text" id="create_time" placeholder="请输入住址" name="address" class="layui-input" style="width: 300px;">
                                </div>     
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="submit" id="commit" class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
                                        <!-- 点击cancel按钮，把模态框隐藏-->
                                    <button type="button" onclick="document.getElementById('id01').style.display='none'; document.getElementById('id02').style.display='block'" class="layui-btn" lay-submit="" lay-filter="demo1">关闭</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="layui-form news_list" id="id02">
                    <table class="layui-table">
                        <colgroup>
                        <col width="2%">
                        <col width="2%">
                        <col width="2%">
                        <col width="2%">
                        <col width="2%">
                        <col width="2%">
						<col width="2%">
						<col width="2%">
						<col width="2%">
						<col width="5%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" name="selAll" lay-skin="primary" lay-filter="allChoose" id="allChoose">
                                <div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div>
                            </th>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>岗位</th>
                            <th>部门</th>
                            <th>入职时间</th>
							<th>离职时间</th>
							<th>电话</th>
							<th>住址</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="news_content">
                        {% if query %}
                        {% for result in page.object_list %} 
                        <tr>
                            <td>
                                <input type="checkbox" name="selOne" value={{data.nid}} lay-skin="primary" lay-filter="choose">
                                <div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div>
                            </td>
                            <td align="left">{{result.object.nid}}</td>
                            <td>{{result.object.username}}</td>
                            <td>{{result.object.position.position}}</td>
                            <td>{{result.object.departments.department}}</td>
                            <td>
                                <!-- <input type="checkbox" name="show" lay-skin="switch" lay-text="是|否" lay-filter="isShow">
								<div class="layui-unselect layui-form-switch" lay-skin="_switch"><em>否</em><i></i></div> -->
								{{result.object.enterTime|date:'Y-m-d'}}
                            </td>
							<td>{{result.object.leaveTime|date:'Y-m-d'}}</td>
							<td>{{result.object.iphone}}</td>
							<td>{{result.object.address}}</td>
                            <td>
                                <a href="/users/index/company/user_position_edit/?nid={{data.nid}}" class="layui-btn layui-btn-mini"><i class="iconfonr icon-edit"></i>编辑</a>
                                <!-- <a class="layui-btn layui-btn-normal layui-btn-mini news_collect"><i class="layui-icon"></i> 收藏</a> -->
                                <a class="layui-btn layui-btn-danger layui-btn-mini" onclick='delUserPosition(this)' id={{data.nid}} data-id="1"><i class="layui-icon"></i> 删除</a>
								<!-- <a href="/users/index/company/del_user_position/?nid={{data.nid}}" class="layui-btn layui-btn-danger layui-btn-mini" data-id="1"><i class="layui-icon"></i> 删除</a> -->
                            </td>
						</tr>
                        {% empty %}
                        {% endfor %}
                    {% endif %}
                    </tbody>
                    </table>
                    <div class="larry-table-page clearfix">
                        <!-- <a href="javascript:;" class="layui-btn layui-btn-small"><i class="iconfont icon-shanchu1"></i>删除</a> -->
                        <div id="page" class="page"></div>
                   </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="/static/common/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/newslist.js"></script>
<script type="text/javascript">
	layui.use(['jquery','layer','element','laypage'],function(){
	      window.jQuery = window.$ = layui.jquery;
	      window.layer = layui.layer;
          var element = layui.element(),
              laypage = layui.laypage;

            
          laypage({
					cont: 'page',
					pages: 10 //总页数
						,
					groups: 5 //连续显示分页数
						,
					jump: function(obj, first) {
						//得到了当前页，用于向服务端请求对应数据
						var curr = obj.curr;
						if(!first) {
							//layer.msg('第 '+ obj.curr +' 页');
						}
					}
				});

          laypage({
					cont: 'page2',
					pages: 10 //总页数
						,
					groups: 5 //连续显示分页数
						,
					jump: function(obj, first) {
						//得到了当前页，用于向服务端请求对应数据
						var curr = obj.curr;
						if(!first) {
							//layer.msg('第 '+ obj.curr +' 页');
						}
					}
				});
    });

    // 删除选中记录
    function delUserPosition(obj){
        layer.confirm("确定删除此记录？", {icon:3, title:"提示消息"},function(index){
            $.ajax({
                url: "/users/index/company/del_user_position/",
                type: "GET",
                data:{nid:obj.id},
                success: function(data){
                    alert("删除成功！")
                    window.location.reload();  //重新加载
                }

            })
            
            layer.close(index);
        })
    }


    // 导出excel

    function export_excel(){
    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
    const req = new XMLHttpRequest();
    req.open("POST", "/users/index/company/export_position/", true);
    req.responseType = 'blob';
    req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // 设置请求头
    req.send("csrfmiddlewaretoken="+csrf); //输入参数
    req.onload = function() {
        // 返回值
        const data = req.response;
        const a = document.createElement('a');
        const blob = new Blob([data]);
        const blobUrl = window.URL.createObjectURL(blob);
        download(blobUrl);
    };
}

function download(blobUrl){
    const a = document.createElement("a");
    a.style.display = "none";
    a.download = "test" + ".xls";
    a.href = blobUrl;
    a.click();
    document.body.removeChild(a);
}

    // function funcSelAll(){
    //         // 获取选中的值
    //     var id = document.getElementsByName('selOne');
    //     var value = [];
    //     for(var i=0; i<id.length;i++){
    //         if(id[i].checked){
    //             value.push(id[i].value);
    //         }
    //     }
    //     alert(value)
    // }

// 批量删除
function BatchDel(){
    // 获取选中记录的ID
    var id = document.getElementsByName("selOne");
    var value = [];
    for(var i=0; i<id.length;i++){
        if(id[i].checked){
            value.push(id[i].value)
        }
    }
    // 判断数据
    if (value.length == 0){
        layer.confirm("请选择记录再删除！",{icon:3, title:"提示消息"}, function(index){
        
        layer.close(index)
        })
        return false;
    }
    // 提示框
    layer.confirm("确定删除此记录？", {icon:3, title:"提示消息"}, function(index){
        $.ajax({
            url:"/users/index/company/batch_del/",
            type:"DELETE",
            // data:{value:value},
            data:JSON.stringify({
                value:value
            }),
            headers:{'X-CSRFToken':"{{csrf_token}}"},
            success: function(data){
                alert("删除成功！");
                window.location.reload(); //重新加载
            }
        })
        layer.close(index);

    })
}
    

</script>
</body>
</html>>